        body{
            background-color: #ccc;
            width: 100%;
            padding: 40px;
        }

        svg{
            background-color: #fff;
            display: block;
            margin: auto;
        }

        text {
            font-family: 'Overpass', sans-serif;
        }

        h1, h2, h3 {
            font-family: 'Merriweather', serif;
        }

        h1 {
            font-weight: 700;
        }

        h2 {
            font-weight: 400;
        }
        
        h3 {
            font-weight: 300;
        }

        .counts{
            stroke: #000;
            stroke-width: 1px;
        }

        .compdiv{
            background-color: #e7ecf1;
        }

       .svg-container-count {
            display: inline-block;
            position: relative;
            width: 100%;
            padding-bottom: 50%; /* aspect ratio */
            vertical-align: top;
            overflow: hidden;
        }

       .svg-container-freq {
            display: inline-block;
            position: relative;
            width: 100%;
            padding-bottom: 100%; /* aspect ratio */
            vertical-align: top;
            overflow: hidden;
        }
        .svg-content-responsive {
            display: inline-block;
            position: absolute;
            top: 10px;
            left: 0;
        }

        .carousel-caption {
            max-width: 100%;
            width:100%;
            background-color: #f8f9fa;
            left: 0;
        }

        .dropdown-menu{
           max-height:300px;
           overflow-y: scroll;
        }

        .pres_1_name {
            border-radius: 5px;
        }

        .pres_2_name {
            border-radius: 5px;
        }

        .card-img-top {
            height: 350px;
            object-fit: cover;
        }
 
        .line {
            fill: none;
            stroke: #ffab00;
            stroke-width: 3;
        }
          
        .overlay {
          fill: none;
          pointer-events: all;
        }

        .dot {
            fill: #ffab00;
            stroke: #fff;
        }


/*        .footnote-item.footnote-item-displayed {
            display: block
        }

        .footnote-item.footnote-item-expanded {
            max-height: 3100px;
            width: 100%;
            opacity: 1;
            -webkit-transition: max-height .5s ease-in .01s,width .01s ease-in 0s,opacity .2s ease-in-out .21s;
            transition: max-height .5s ease-in .01s,width .01s ease-in 0s,opacity .2s ease-in-out .21s
        }

        .footnote-item .footnote-item-inner {
            text-align: center
            margin: 17px auto;
        }*/

/*        a.footnote-link.footnote-item-expanded sup,.footnote-link.footnote-item-expanded sup {
            vertical-align: text-top
        }*/

        .carousel-caption {
           position: absolute;
           bottom:0px;
        }

        .axis line, .axis path{
            stroke: #bbb;
        }

        .axis text{
            fill: #696767;
        }
          
        .focus circle {
          fill: none;
          stroke: steelblue;
        }


        #tooltip{
            position: absolute;
            background-color: #fff;
            padding: 15px;
            border: solid 1px #000;
            opacity: 0;
        }