        body{
            background-color: #ccc;
            width: 100%;
            padding: 40px;
        }

        svg{
            background-color: #fff;
            display: block;
            margin: auto;
        }

        text {
            font-family: 'Overpass', sans-serif;
        }

        h1, h2, h3 {
            font-family: 'Merriweather', serif;
        }

        h1 {
            font-weight: 700;
        }

        h2 {
            font-weight: 400;
        }
        
        h3 {
            font-weight: 300;
        }

        .counts{
            stroke: #000;
            stroke-width: 1px;
        }

        .compdiv{
            background-color: #e7ecf1;
        }

        .axis line, .axis path{
            stroke: #bbb;
        }

        .axis text{
            fill: #bbb;
        }

        #tooltip{
            position: absolute;
            background-color: #fff;
            padding: 20px;
            border: solid 1px #000;
            opacity: 0;
        }

        .pres_1_name {
            border-radius: 5px;
        }

        .pres_2_name {
            border-radius: 5px;
        }

        .card-img-top {
            height: 350px;
            object-fit: cover;
        }
 
        .line {
            fill: none;
            stroke: #ffab00;
            stroke-width: 3;
        }
          
        .overlay {
          fill: none;
          pointer-events: all;
        }

        /* Style the dots by assigning a fill and stroke */
        .dot {
            fill: #ffab00;
            stroke: #fff;
        }
          
        .focus circle {
          fill: none;
          stroke: steelblue;
        }