{% extends 'base.html' %}
{% block content %}

<div class="container">
  
  <div class="row">

    <div class="col-auto mx-auto compdiv" style="padding-bottom: 50px;">
      <h2 class="comparison text-center" style="margin-top: 40px;">
        Comparison of State of the Union Speeches 
        <a class="footnote-link" id="fn-1" data-footnote-content="<p>Explanation of chart</p>"><sup class="text-primary" id="ss-1">1</sup>
        </a> 
        <br>
        <span class="of"></span> <span class="pres_1_name">  </span> <span class="and"></span> <span class="pres_2_name"> </span>
     
      </h2>

      <h3 class="info_zone text-center" style="display: none!important">
        The semantic similarity estimate between these two is: 
        <span class="pres_similarity"></span>
      </h3>
      <span class="footnote-item footnote-item-displayed footnote-item-expanded">
          <span class="footnote-item-inner text-center" id="fn-1-inner">

          </span>
      </span>
      <br>
      <br>

      <div id="chart"></div>

    </div>
  </div>
</div>

<div id="tooltip"></div>

<script src="./static/js/similarity.js"type="text/javascript"></script>  

<script type="text/javascript">


function changeText() {
    let element = document.getElementById("fn-1-inner");
    let text = document.getElementById("fn-1").getAttribute("data-footnote-content");
        if (element.innerHTML === text) element.innerHTML = '';
        else {
            element.innerHTML = text;
        }
    }

    
document.getElementById("fn-1").addEventListener("click", function(){
    changeText();
    });


document.getElementById("ss-1").addEventListener("mouseover", function(){
    let fn_number = document.getElementById("ss-1");
    fn_number.classList.add("text-danger");
    });

document.getElementById("ss-1").addEventListener("mouseout", function(){
    let fn_number = document.getElementById("ss-1");
    fn_number.classList.remove("text-danger");
    });

</script>

{% endblock %}

