{% extends 'base.html' %}
{% block content %}

<h1>State of the Union</h1>

<h2>Comparison of Speeches of {{ pres_1.name }} and {{ pres_2.name }}</h2>

{% if not pres_1.speeches %}
<div>
    <p>
        Unfortunately, {{ pres_1.name }} was not in office long 
        enough to give any State of the Union speeches.
    </p>

</div>

{% endif %}

{% if not pres_2.speeches %}
<div>
    <p>
        Unfortunately, {{ pres_2.name }} was not in office long 
        enough to give any State of the Union speeches.
    </p>

</div>

{% endif %}

<div>
Here be comparisons between {{ pres_1.name }} and {{ pres_2.name }}
</div>


{% endblock %}