{% extends 'base.html' %}
{% block content %}



<div id="vizCarousel" class="carousel slide" data-ride="carousel" style="height: 80vh";>
  <ol class="carousel-indicators">
    <li data-target="#vizCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#vizCarousel" data-slide-to="1"></li>
    <li data-target="#vizCarousel" data-slide-to="2"></li>
    <li data-target="#vizCarousel" data-slide-to="3"></li>    
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="/wc_visualization"><img class="d-block mx-auto" src="/static/img/word_count.svg" alt="First slide" style="height: 80vh";></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Word Count</h5>
          <p>Take a look at the amount of words each president used in each speech</p>
        </div>
    </div>
    <div class="carousel-item">
      <a href="/words_by_decade"><img class="d-block mx-auto" src="/static/img/word_decade.svg" alt="Second slide" style="height: 80vh";></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Words by Decade</h5>
          <p>Learn more about the most common words used in each decade</p>
        </div>
    </div>
    <div class="carousel-item">
      <a href="/comparison"><img class="d-block mx-auto" src="/static/img/comparison.svg" alt="Third slide" style="height: 80vh";></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Comparison of Speeches</h5>
          <p>Check out how the similarity of speeches has changed over time</p>
        </div>
    </div>
    <div class="carousel-item">
      <a href="/word_freq"><img class="d-block mx-auto" src="/static/img/word_freq.svg" alt="Fourth slide" style="height: 80vh; width: 900px;"></a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Word Frequency</h5>
          <p>Here are the ten most common words in each decade and their fluctuating frequency over time</p>
        </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#vizCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#vizCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



{% endblock %}