{% extends 'base.html' %}
{% block content %}



<div class="presidents" style="margin-top: 45px;">
<div class="row">
{% for president in presidents %}
<div class="col-md-3 mb-5">
<div class="card h-100  ">
  <img class="card-img-top" src="{{ president.img }}" alt="Image of {{ president.name }}">
  <div class="card-body d-flex flex-column">
    <h5 class="card-title">{{ president.name }}</h5>
    <p class="card-text">
   <ul>
      <li>Party Affiliation: {{ president.party_affiliation }}</li>
      <li>Date of Birth: {{ president.date_of_birth.strftime('%A, %B %d, %Y') }}</li>
      <li>State of Birth: {{ president.state_of_birth }} </li>
  </ul>       
    </p>
    <a href="president?president={{ president.name }}&submit=Submit" class="btn btn-primary mt-auto">Learn more about {{ president.name }}</a>
  </div>

</div>
</div>
{% endfor %}
</div>
</div>
<br>

{% endblock %}