{% extends 'base.html' %}
{% block content %}

<h2>Presidents of the United States</h2>

<div class="presidents">
{% for president in presidents %}
  <a href="president?president={{ president.name }}&submit=Submit"><p name="{{president.name}}" value="{{ president.pres_id }}">{{ president.name }}</p></a>
  <ul>
      <li>Party Affiliation: {{ president.party_affiliation }}</li>
      <li>Date of Birth: {{ president.date_of_birth.strftime('%A, %B %d, %Y') }}</li>
  </ul>

{% endfor %}
</div>
<br>

{% endblock %}